<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.title %}
    <meta name="description" content="{{ page.title }}">
  {% endif %}
  {% if page.data.keywords != blank %}
    <meta name="keywords" content="{{ page.data.keywords }}">
  {% endif %}
  <title>
    {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
  </title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.base_url }}">

  <script>
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.setAttribute("theme", "dark");
    }
  </script>
</head>
