<!DOCTYPE html>
<html lang="en">
  {% include "head.liquid" %}
  
  <script type="text/javascript" src="{{'/assets/js/main.js' | prepend:site.base_url }}"></script>
  {% for script in page.data.scripts %}
      <script type="text/javascript" src="{{'/assets/js/' | prepend:site.base_url | append: script }}"></script>
  {% endfor %}
  {% for css in page.data.css %}
      <link rel="stylesheet" href="{{'/assets/css/' | prepend:site.base_url | append: css }}"></script>
  {% endfor %}
  <body>
    {% include "header.liquid" %}
    <div class="page-content">
      <div class="wrapper">

        <article class="post" itemscope itemtype="http://schema.org/TravelLog">
          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <p class="post-meta">
               <time datetime="{{ page.published_date }}" itemprop="datePublished">
                  {{ page.published_date | date: "%b %-d, %Y" }}
               </time>
                | <span class="time">
                    {{ page.content | strip_html | split:" " | size | divided_by:400 }}
                  </span>
                   Minute Read
            </p>
          </header>
          <div class="post-content" itemprop="articleBody">
            {{ page.content }}
          </div>

        </article>

      </div>
    </div>
    {% include "footer.liquid" %}
  </body>
</html>
